<section class="home-page">
  <div class="home-page__hero">
    <p class="home-page__kicker">Fine Jewelry</p>
    <h1 class="home-page__title">Sculptural forms, modern glow.</h1>
    <p class="home-page__subtitle">Curated pieces designed to elevate everyday style.</p>
    <div class="home-page__actions">
      <a class="btn primary" href="/collections/all">Explore</a>
      <a class="btn" href="/collections">View collections</a>
    </div>
  </div>

  <div class="home-page__grid">
    <a class="home-page__card" href="/collections/earrings">Earrings</a>
    <a class="home-page__card" href="/collections/rings">Rings</a>
    <a class="home-page__card" href="/collections/necklaces">Necklaces</a>
    <a class="home-page__card" href="/collections/bracelets">Bracelets</a>
  </div>
</section>
